<% provide(:title, "sub-#{@scan.subject}_ses-#{@scan.session}") %>

<h1>Scan sub-<%= @scan.subject%>_ses-<%= @scan.session%></h1>

<div class="center jumbotron">
  <p>
    <%= image_tag("http://www.rollthepotato.net/~john/.thumbnails/sub-#{@scan.subject}_ses-#{@scan.session}.png") %>
  </p>

  <% if logged_in? %>
    <div class="vote-bar">
      <%= link_to image_tag("thumb-down-64.png"), 
            new_vote_path(vote_value: -1, 
                          scan_id: @scan.id, user_id: current_user.id), 
            class: "btn", id: "vote-left" %> 
      <%= link_to image_tag("thumb-up-64.png"), 
            new_vote_path(vote_value: +1, 
                          scan_id: @scan.id, user_id: current_user.id), 
            class: "btn", id: "vote-right" %> 
    </div>
  <% end %>
</div>
