<% provide(:title, "sub-#{@scan.subject}_ses-#{@scan.session}") %>

<h1>Scan sub-<%= @scan.subject%>_ses-<%= @scan.session%></h1>

<div class="center jumbotron">
  <% views = %w(
                pial
                midthickness-drawem 
                white 
                veryinflated-thickness
                veryinflated-curvature 
                veryinflated-sulc 
             ) 
     base_url = "http://www.rollthepotato.net/~john/.thumbnails"
     subses = "sub-#{@scan.subject}_ses-#{@scan.session}"
  %>

  <% views.each do |view| %>
    <p>
      <%= image_tag("#{base_url}/#{subses}-#{view}.png") %>
    </p>
  <% end %>

  <% if logged_in? %>
    <div class="vote-bar">
      <%= link_to image_tag("thumb-down-64.png"), 
            new_vote_path(vote_value: -1, 
                          scan_id: @scan.id, user_id: current_user.id), 
            class: "btn", id: "vote-left" %> 
      <%= link_to image_tag("thumb-up-64.png"), 
            new_vote_path(vote_value: +1, 
                          scan_id: @scan.id, user_id: current_user.id), 
            class: "btn", id: "vote-right" %> 
    </div>
  <% end %>
</div>
