<p>
  <strong>Subject:</strong>
  <%= @scan.subject %>
</p>

<p>
  <strong>Session:</strong>
  <%= @scan.session %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= image_tag("http://www.rollthepotato.net/~john/.thumbnails/sub-#{@scan.subject}_ses-#{@scan.session}.png") %>
</p>

<%= link_to 'Edit', edit_scan_path(@scan) %> |
<%= link_to 'Back', scans_path %>
