<% provide(:title, "sub-#{@scan.subject}_ses-#{@scan.session}") %>

<h1>Scan sub-<%= @scan.subject%>_ses-<%= @scan.session%></h1>

<div class="center jumbotron">
  <p>
    <%= image_tag("http://www.rollthepotato.net/~john/.thumbnails/sub-#{@scan.subject}_ses-#{@scan.session}.png") %>
  </p>

  <%= link_to image_tag("thumb-up-64.png"), new_vote_path(@scan, 1), class: "btn" %> |
  <%= link_to image_tag("thumb-down-64.png"), new_vote_path(@scan, -1), class: "btn" %> 
</div>
