<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @scan.subject %>
</p>

<p>
  <strong>Session:</strong>
  <%= @scan.session %>
</p>

<%= link_to 'Edit', edit_scan_path(@scan) %> |
<%= link_to 'Back', scans_path %>
